<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/js/jq")
    @Scripts.Render("~/js/skemd")
    @*<script type="text/javascript" src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
	<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>*@
    <style type="text/css">
        .css_content_1, .css_content_accordion
        {
            width: 330px;
            height: 200px;
            overflow: auto;
            margin-left: -10px;
        }
        .loading
        {
            opacity: 0.3;
        }
    </style>
</head>
<body>
    @*<form id="frm_main" runat="server">*@
    @*<div class="wrapper">*@
        <div class="header">
            <img src="~/Content/img/header_1_logo.png" class="img_header_logo" />
            
            <div id="img_header_title">
                <label>
                    Система комплексного екологічного</label>
                <div style="height: 4px;">
                </div>
                <label>
                    моніторингу м.Дніпродзержинськ</label>
            </div>

            <img src="~/Content/img/header-herb.png" class="img_header_logo img_header_logo2" />
            <nav class="nav right">
                <ul id="ul_header_menu2">
                    <li class="current" @*class="ul_li_border selected"*@ id="header_li_map">
                        <a href="@Url.Action("Index")">Моніторинг постів</a></li>
                    <li id="header_li_graph">
                       <a href="@Url.Action("Graph"/*, "Home", new { model = -1}*/)">Графіки та таблиці</a></li>
                    <li id="header_li_help">
                        <a href="@Url.Action("Help")">Довідка</a></li>
                    <li id="header_li_developer">
                        <a href="@Url.Action("Developer")">Розробник</a></li>
                    <li id="header_li_contact">
                        <a href="@Url.Action("ContactInfo")">Контактна інформація</a></li>
                    <!--<li>
                        <div>
                        </div>
                        <label style="border: none;">
                            Контакти</label></li> -->
                    @*<li onclick="javascript:logout()" class="ul_li_border">
                        <div>
                        </div>
                        <a>Вихід</a>
                    </li>*@
                </ul>
            </nav>
            @*<script>
                function logout() {
                    console.log('sdsd');
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("LogOff", "Account")',
                        })
                    };
                </script>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "height: 100%" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" class="logouttext">
                    <span id="user" class="simpletext"></span><span class="simpletext"> </span><span style="font-size: 20px" class="icon">»</span>
                </a>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                        type: "GET",
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '@Url.Action("GetActiveUser", "Account")',
                        success: function (user) {
                                    $('#user').html(user.activeuser);
                                }
                        })
                    });
                </script>
            }*@
        </div>
        <div class="content">
            @RenderBody()
            @Scripts.Render("~/bundles/jqueryval")
            @RenderSection("scripts", required: false)
        </div>
    @*</div>*@
    @*</form>*@
    <footer id="layout_footer">
	  
	</footer>
    @*<script type="text/javascript">
        //заповнення інформації в футері
        $.ajax({
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("GetAPK", "Home")',
            data: { all: true, id: 0 },
            success: function (data) {
                $("#layout_footer").empty();
                $("#layout_footer").append("<ul>");
                for (var i = 0; i < data.length; i++) {
                    var status = "";
                    if (data[i].Status == 0)
                        status = "в ремонті";
                    else if (data[i].Status == 1)
                        status = "в нормі";
                    else if (data[i].Status == 2)
                        status = "перевищення критичного рівня";
                    else if (data[i].Status == 3)
                        status = "немає зв’язку";
                    else if (data[i].Status == 4)
                        status = "не активний";
                    var contact = "[Контактні дані відсутні]";
                    if (data[i].ContactInfo != null)
                        contact = data[i].ContactInfo;
                    var CO2 = "CO2 відсутній"; var SO2 = "SO2 відсутній"; var NO2 = "NO2 відсутній";
                    for (var j = 0; j < data[i].ParameterIDs.length; j++) {
                        if(data[i].ParameterIDs[j] == 1)
                            CO2 = "CO2 = " + data[i].IndexValues[j] + "мг/м3";
                        else if (data[i].ParameterIDs[j] == 2)
                            NO2 = "NO2 = " + data[i].IndexValues[j] + "мг/м3";
                        else if (data[i].ParameterIDs[j] == 3)
                            SO2 = "SO2 = " + data[i].IndexValues[j] + "мг/м3";
                    }
                    $("#layout_footer").append("<li style='margin-left: 10px; margin-top: 10px;'>АПК номер " + data[i].Number +
                        " - " + status + " - " + contact + " - " + CO2 + " - " + SO2 + " - " + NO2 + "</li>");
                }
                $("#layout_footer").append("</ul>");
                }
            });
    </script>*@
</body>
</html>
